# Ignore dev environment variable files (don't commit secrets)
environment/dev/variables/dev.tfvars
environment/dev/variables/dev.backend.tfvars

# Terraform temporary and state directories/files
environment/dev/.terraform/
.terraform/
*.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
*.env
*.txt

# Terragrunt/local caches
.terragrunt-cache/
*.terragrunt-cache